<div class="container">


    <button class="btn btn-success btn-lg" id="buzzer">Buzzer</button>
</div>

<script>
    $(document).ready(function(){
        var socket = io();

        socket.emit("init", {
            idx: "<%= user_idx %>",
            name: "<%= user_name %>"
        });

        $("button#buzzer").on('click', function(e) {
            e.preventDefault();
            socket.emit("buzzer");
        });
    });
</script>
