<div class="container">
    <button class="btn btn-buzzer btn-lg" id="buzzer">PUSH</button>
</div>

<script>
    $(document).ready(function(){
        var socket = io();

        socket.emit("init", {
            idx: "<%= user_idx %>",
            name: "<%= user_name %>"
        });

        socket.on("update_status", function(data) {
            if (data.clicked) {
                $("button#buzzer").attr("disabled", true);

            } else {
                $("button#buzzer").attr("disabled", false);
            }
        });

        $("button#buzzer").on('click', function(e) {
            e.preventDefault();
            socket.emit("buzzer");
        });
    });
</script>
