<div class="container">
    <div class="row" style="margin: 20px -15px">
        <div class="col-sm-6 text-sm-right">
            <button class="btn btn-primary btn-circle" id="start">Start</button>
        </div>
        <div class="col-sm-6 text-sm-left">
            <button class="btn btn-danger btn-circle" id="reset">Reset</button>
        </div>
    </div>

    <div class="text-center">
        <ul id="current_users"></ul>
    </div>
</div>

<script>
    var socket;
    $(document).ready(function(){
        socket = io();

        socket.emit("init_users");

        socket.on("update_users", function(data) {
            str = "";
            for (var i = 0; i < data.length; i++) {
                str += "<li>"
                    + data[i].name
                    + ' <i class="fa fa-chevron-up" onclick="point_up(\'' + data[i].name + '\')" aria-hidden="true"></i>'
                    + ' <i class="fa fa-chevron-down" onclick="point_down(\'' + data[i].name + '\')" aria-hidden="true"></i>'
                    + ' <i class="fa fa-times" onclick="delete_user(\'' + data[i].id + '\', \'' + data[i].name + '\')" aria-hidden="true"></i>'
                    + "</li>";
            }
            $("ul#current_users").html(str);
        });

        $("button#start").on('click', function(e) {
            e.preventDefault();
            socket.emit("start");
        });
        $("button#reset").on('click', function(e) {
            e.preventDefault();
            socket.emit("reset");
        });
    });

    function point_up(name) {
        socket.emit("point_up", {"name": name});
    }
    function point_down(name) {
        socket.emit("point_down", {"name": name});
    }
    function delete_user(id, name) {
        socket.emit("delete_user", {"id": id, "name": name});
    }
</script>
