<div class="container">
    <h3>Admin</h3>

    <div class="row">
        <button class="btn btn-primary btn-lg" id="resume">Resume</button>
        <button class="btn btn-success btn-lg" id="stop">Stop</button>
        <button class="btn btn-danger btn-lg" id="reset">Reset</button>
    </div>

    <ul id="current_users"></ul>
</div>

<script>
    $(document).ready(function(){
        // socket.io 서버에 접속한다
        var socket = io();

        socket.emit("init_users");

        socket.on("update_users", function(data) {
            str = "";
            for (var i = 0; i < data.length; i++) {
                str += "<li>" + (i+1) + ". " + data[i].name + "</li>";
            }
            $("ul#current_users").html(str);
        });

        $("button#resume").on('click', function(e) {
            e.preventDefault();
            socket.emit("resume");
        });
        $("button#stop").on('click', function(e) {
            e.preventDefault();
            socket.emit("stop");
        });
        $("button#reset").on('click', function(e) {
            e.preventDefault();
            socket.emit("reset");
        });
    });
</script>
