<div class="container">
    <div class="row" style="margin: 20px -15px">
        <div class="col-sm-6 text-sm-right">
            <button class="btn btn-primary btn-circle" id="start">Start</button>
        </div>
        <div class="col-sm-6 text-sm-left">
            <button class="btn btn-danger btn-circle" id="reset">Reset</button>
        </div>
    </div>

    <div class="text-center">
        <ul id="current_users"></ul>
    </div>
</div>

<script>
    $(document).ready(function(){
        var socket = io();

        socket.emit("init_users");

        socket.on("update_users", function(data) {
            str = "";
            for (var i = 0; i < data.length; i++) {
                str += "<li>" + data[i].name + "</li>";
            }
            $("ul#current_users").html(str);

        });

        $("button#start").on('click', function(e) {
            e.preventDefault();
            socket.emit("start");
        });
        $("button#reset").on('click', function(e) {
            e.preventDefault();
            socket.emit("reset");
        });
    });
</script>
