<div class="container">
    <h3>Admin</h3>

    <button class="btn btn-danger" id="reset">Reset</button>
    <ul id="rank"></ul>
</div>

<script>
    $(document).ready(function(){
        // socket.io 서버에 접속한다
        var socket = io();

        socket.emit("init_rank");

        socket.on("update_rank", function(data) {
            str = "";
            for (var i = 0; i < data.length; i++) {
                str += "<li>" + (i+1) + ". " + data[i].name + "</li>";
            }
            $("ul#rank").html(str);
        });

        $("button#reset").on('click', function(e) {
            e.preventDefault();
            socket.emit("reset");
        });
    });
</script>
