<div class="container">
    <h3>Admin</h3>

    <ul id="current_users"></ul>
</div>

<script>
    $(document).ready(function(){
        // socket.io 서버에 접속한다
        var socket = io();

        socket.emit("init_users");

        socket.on("update_users", function(data) {
            str = "";
            for (var i = 0; i < data.length; i++) {
                str += "<li>" + (i+1) + ". " + data[i].name + "</li>";
            }
            $("ul#current_users").html(str);
        });
    });
</script>
