<div class="container">
    <span id="winner"></span>
</div>
<audio src="/static/audio/buzzer.mp3" id="buzzer-audio"></audio>

<script>
    $(document).ready(function(){
        var socket = io();

        socket.emit("init_winner");

        socket.on("update_winner", function(data) {
            var name = "";
            if (data !== undefined && data !== null) {
                name = data.name;
                $("audio#buzzer-audio")[0].play();
            } else {
                $("audio#buzzer-audio")[0].pause();
                $("audio#buzzer-audio")[0].currentTime = 0;
            }
            new Audio('../static/audio/buzzer.mp3').play();
            $("#winner").text(name);

        });
    });
</script>
