<div class="container">
    <span id="winner"></span>
</div>

<script>
    $(document).ready(function(){
        var socket = io();

        socket.emit("init_winner");

        socket.on("update_winner", function(data) {
            $("#winner").text((data !== undefined && data !== null) ? data.name : "");
        });
    });
</script>
