<div class="container">
    <div id="point"></div>
    <div id="wrap-winner">
        <span id="winner"></span>
    </div>
</div>
<audio src="/static/audio/buzzer.mp3" id="buzzer-audio"></audio>

<script>
    $(document).ready(function(){
        var socket = io();

        socket.emit("init_winner");

        socket.on("update_winner", function(data) {
            var name = "";
            if (data !== undefined && data !== null) {
                name = data.name;
                $("audio#buzzer-audio")[0].play();
            } else {
                $("audio#buzzer-audio")[0].pause();
                $("audio#buzzer-audio")[0].currentTime = 0;
            }
            $("#winner").text(name);
        });

        socket.on("update_point", function(data) {
            var str = "";
            for (k in data) {
                str += '<div class="point-item">'
                + '<h4 class="text-center">' + k + '</h4>'
                + '<h3 class="text-center">' + data[k] + '</h3>'
                + '</div>';
            }
            $("#point").html(str);

            setPointHeight();
        });
    });
</script>
