/* Google Early Access Fonts */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* Font Block */
* {
    font-family: "Helvetica Neue", Helvetica, "Apple SD Gothic Neo", "Noto Sans KR", "Nanum Gothic", sans-serif !important;
}
/* Font Block End */

/* Visibility by Screen Width Block */
@media screen and (min-width: 768px) {
    .mobile {
        display: none;
    }
    .navbar ul.right {
        float: right;
    }
}
@media screen and (max-width: 767px) {
    .pc {
        display: none;
    }
}
/* Visibility by Screen Width Block End */

/* Sticky Footer Block */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Padding top by navbar height */
    padding-top: 70px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}
.footer .container .text-muted {
    margin: 20px 0;
}
/* Sticky Footer Block End */

/* Horizontal Line in Navbar Block */
.navbar hr {
    margin: 5px -5px;
}
.navbar-default hr {
    border-color: #d5d5d5;
}
.navbar-inverse hr {
    border-color: #777;
}
/* Horizontal Line in Navbar Block End */

/*
** Navbar-transparent
*/
@media screen and (min-width: 768px) {
    .navbar-inverse {
        background-color: rgba(0, 0, 0, .5);
        border: none;
    }
    .navbar-inverse .navbar-brand {
        color: #dfdfdf;
    }
    .navbar-inverse .navbar-brand:hover,
    .navbar-inverse .navbar-brand:focus {
        color: #fff;
        background-color: transparent;
    }
    .navbar-inverse .navbar-text {
        color: #dfdfdf;
    }
    .navbar-inverse .navbar-nav > li > a {
        color: #dfdfdf;
    }
    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
        color: #fff;
        background-color: rgba(0, 0, 0, .2);
    }
    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {
        color: #fff;
        background-color: rgba(0, 0, 0, .1);
    }
    .navbar-inverse .navbar-nav > .disabled > a,
    .navbar-inverse .navbar-nav > .disabled > a:hover,
    .navbar-inverse .navbar-nav > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
    .navbar-inverse .navbar-toggle {
        border-color: rgba(0, 0, 0, .5);
    }
    .navbar-inverse .navbar-toggle:hover,
    .navbar-inverse .navbar-toggle:focus {
        background-color: #333;
    }
    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        border-color: #101010;
    }
    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
        color: #fff;
        background-color: rgba(0, 0, 0, .4);
    }
    @media (max-width: 767px) {
        .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
            border-color: #080808;
        }
        .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
            background-color: #080808;
        }
        .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
            color: #dfdfdf;
        }
        .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #fff;
            background-color: transparent;
        }
        .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
        .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
        .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
            color: #fff;
            background-color: #080808;
        }
        .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
        .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
        .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
            color: #444;
            background-color: transparent;
        }
    }
    .navbar-inverse .navbar-link {
        color: #dfdfdf;
    }
    .navbar-inverse .navbar-link:hover {
        color: #fff;
    }
    .navbar-inverse .btn-link {
        color: #dfdfdf;
    }
    .navbar-inverse .btn-link:hover,
    .navbar-inverse .btn-link:focus {
        color: #fff;
    }
    .navbar-inverse .btn-link[disabled]:hover,
    fieldset[disabled] .navbar-inverse .btn-link:hover,
    .navbar-inverse .btn-link[disabled]:focus,
    fieldset[disabled] .navbar-inverse .btn-link:focus {
        color: #444;
    }
    .footer {
        background-color: rgba(0, 0, 0, .5);
        border: none;
    }
    .footer .container .text-muted {
        color: #ffffff;
        font-weight: 100;
        letter-spacing: 0.05em;
    }
}

/*
** Additional CSS Block
*/
form {
    max-width: 550px;
    margin: 0 auto;
}

.btn-circle {
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;
    font-size: 1.2em;
}

.btn-buzzer {
    width: 250px;
    height: 250px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-65%);
    color: white;
    background-color: #ec2a7f;
    border: none;
    border-radius: 50%;
}
.btn-buzzer:hover{
    color: white;
    background-color: #e52275;
    border: none;
}
.btn-buzzer:active{
    color: white;
    background-color: #e01770;
    border: none;
}
.btn-buzzer:focus{
    color: white;
    background-color: #e01770;
    border: none;
}

ul#current_users {
    display: inline-block;
    margin-left: -15px;
}
ul#current_users li {
    font-size: 1.4em;
}

#winner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-65%);

    font-size: 5em;
}

@media screen and (min-width: 768px) {
    .text-sm-right {
        text-align: right;
    }
    .text-sm-left {
        text-align: left;
    }
}
@media screen and (max-width: 767px) {
    .text-sm-right, .text-sm-left {
        text-align: center;
    }
}
.text-sm-right, .text-sm-left {
    margin-bottom: 10px;
}

span.bold {
    font-weight: bold;
}

/*
** Additional CSS Block End
*/
